body{
  background-color: #ffffff;
  background-image: linear-gradient(35deg, #fff, #fff);
  font-family: Arial, sans-serif;
  color: #ffffff;
}

.App-logo{
  bottom: 20px;
  width: 175px;
  position: relative;
  left: 30px;
}

.toolbar-start Button {
  background-color: #c2c2c2;
  color: #000000;
  padding: 10px 20px;
  border: none;
  cursor: pointer;
  margin-right: 10px;
  border-radius: 20px;
  transition: 0.3s ease;
  font-weight: bold;
  width: auto;
  font-size: 17px;
}

.toolbar-start Button:hover {
  background-color: #1CA883;
}

.registreer-container {
  width: 300px;
  padding: 20px;
  background-color: rgba(255, 255, 255, 0.8);
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  border-radius: 5px;
  text-align: center;
}

.registreer-container h2 {
  color: #0077cc;
}

.registreer-form {
  margin-top: 20px;
}

.registreer-group {
  margin-bottom: 15px;
}

.registreer-group label {
  display: block;
  margin-bottom: 5px;
  color: #555;
}

.registreer-group input {
  width: 100%;
  padding: 8px;
  box-sizing: border-box;
  border: 1px solid #ccc;
  border-radius: 3px;
}

.registreer-group button {
  width: 100%;
  padding: 10px;
  background-color: #0077cc;
  color: #fff;
  border: none;
  border-radius: 3px;
  cursor: pointer;
}

.registreer-group button:hover {
  background-color: #005580;
}

.profiel-formulier {
  max-width: 300px;
  margin: 0 auto;
  padding: 50px;
  background-color: #7d7d7d;
  border-radius: 16px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.profiel-formulier h2 {
  text-align: center;
  margin-bottom: 20px;
}

label {
  display: block;
  margin-bottom: 10px;
}

input {
  width: 100%;
  padding: 8px;
  margin-bottom: 10px;
}

button {
  background-color: #4caf50;
  color: #fff;
  padding: 10px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

button:hover {
  background-color: #45a049;
}
