body{
  background-color: #ffffff;
  background-image: linear-gradient(35deg, #fff, #fff);
  font-family: Arial, sans-serif;
  color: #ffffff;
}

.App-logo{
  bottom: 20px;
  width: 175px;
  position: relative;
  left: 30px;
}

.toolbar-start Button {
  background-color: none;
  color: #000000;
  padding: 10px 20px;
  border: none;
  cursor: pointer;
  margin-right: 10px;
  border-radius: 20px;
  transition: 0.3s ease;
  font-weight: bold;
  width: auto;
  font-size: 17px;
}

.toolbar-start Button:hover {
  background-color: #1CA883;
}
